@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

header {
    text-align: center;
    margin:0;
    padding:0px;
    padding-top: 35px;
    padding-bottom:30px;
    background:#777;
    color:white;
}

#cart{
    position: fixed;
    height: 95%;
}

header h1{
    padding: 10rem 40px;
    font-size:100px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }

.cart-btn{
    border: 2px solid #56CCF2;
    border-radius: 7px;
    color: white;
    padding: 5px 7px;
    font-size: small;
    position: absolute;
    right: 2%;
    top: 2%;
}

.cart-qnty{
    color: #56CCF2;
    padding-left: .5rem;
}

#cart{
    position: fixed;
    height: 95%;
}

a {
    color: inherit;
    text-decoration: inherit;
}
#nav-list{
    background-color:black;
    height:2rem;
    margin: 0;
    display: flex;
    padding: 0;
    font-size:18px;
    font-weight:100;
    justify-content: center;
    list-style-type: none;
    border-bottom:0.1rem solid white;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 1;
}

.nav-item{
    display: inline;
    font-size: medium;
    color: aliceblue;
    padding: 0.5rem 2rem;
    height: 100%;
}



.main-head{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 0;
    background-color: gray;
    color: white;
    height: 12rem;
    font-size: 100px;
    margin: 0;
}

#cart{
    position: fixed;
    height: 95%;
}

.cart-img{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100px;
    max-height: 100px;
    margin: auto;
}

#cart{
    margin:0px;
    display: none;
    position:fixed;
    top:50px;
    height: 95%;
    right:0;
    background-color:rgb(255, 255, 255);
    border:1px solid rgb(177, 103, 103);
    min-height:50vh;
}
#cart h2{
    margin:20px 0px;
    padding:0;
}
.prod-img{
    height: 250px;
    width: 250px;
    overflow: hidden;
}
.prod-images{
    transform-origin: center center;
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding:0px;
    margin:0px;
    transition: ease-in 0.5s;
    filter: brightness(100%);
}


section h2{
    font-family:"Metal Mania";
    text-align:center;
    padding:20px;
    font-size:30px;
}
    
.container{
    max-width:500px;
    margin:0 auto;
    padding:20px 30px;
}

#music-content{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
#music-content div{
    margin:px;
}
#music-content div h3{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}
#music-content .detail{
    display: flex;
    margin: 8px;
    align-items: center;
    justify-content: space-between;
}
#music-content .card-btn{
    cursor:pointer;
    padding:8px;
    color:white;
    border:none;
    font-size:15px;
    font-weight: bold;
    border-radius: 4%;
    background: #56CCF2;
}
#music-content .card-btn:hover, #merch-content .card-btn:hover{
    background: #0eabdf;
    border: none
}

#merch-content{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
#merch-content div{
    margin:30px;
}
#merch-content div h3{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}
#merch-content .detail{
    display: flex;
    margin: 8px;
    align-items: center;
    justify-content: space-between;
}
#merch-content .card-btn{
    cursor:pointer;
    padding:8px;
    color:white;
    border:none;
    font-size:15px;
    font-weight: bold;
    border-radius: 4%;
    background: #56CCF2;
}

#notify{
    position:fixed;
    bottom:10px;
    right:10px;
}
.notification {
    background-color: #56f278;
    border-radius: 10px;
    color: black;
    padding: 2rem;
    margin: 1rem;
}

.notification h4 span{
    color:rgb(3, 3, 3);
}


.card-btn{
    height: 2rem;
    font-size: large;
    font-family: arial;
    text-align: center;
    background-color: rgb(11, 181, 211);
    color: white;
    border: 0;
    cursor: pointer;
}


.section-head{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1cm;
}
 
.price{
    text-decoration:solid;
}

img{
    object-fit: fill;
    height: 100%;
    width: 100%;
}


.pagination{
    margin-top: 2rem;
    text-align: center;
}

.pagination button{
    text-decoration: none;
    color: gray;
    padding: 0.5rem;
    border: 1px solid gray;
    margin: 0 1rem;
}

.pagination button:hover,
.pagination button:active{
    background-color: gray;
    color: white;
}

.foot{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left end;
    padding: 0;
    background-color: rgb(5, 11, 12);
    color: white;
    height: 6rem;
    font-size: 30px;
    margin: 0;
}

#bottom-btn{
    text-align: center;
}

.cart-btn-bottom{
    background-color: #777;
    color: #56CCF2;
    padding: 15px;
    position: relative;
    left: 46.5%;
    border: 0;
    border-radius: 7px;
    margin: auto;
    cursor: pointer;
}

.cart-bottom{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

.cart-row{
    font-size:18px;
    display:flex;
}

.cart-header{
    font-size:1.2rem;
    font-weight: bold;
}
.cart-item{
    width:45%;
}
.cart-img{
    width:80px;
    border-radius:8%;
    margin-right:20px;
}
.cart-price{
    width:20%;
}
.cart-quantity{
    width:35%;
}
.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
.cart-quantity input{
    width:40px;
    height:30px;
    border:1px solid rgb(0, 204, 255) ;
    border-radius:8%;
    outline:none;
    text-align:center;
    margin-right:20px;
}
.cart-quantity button{
    color:white;
    font-weight: bold;
    background: rgb(231, 76, 76);
    cursor: pointer;
    border:none;
    border-radius:8%;
    height:30px;
    outline:none;
    padding: 0px 7px;
}
.cart-quantity button:hover{
    background: rgb(218, 37, 37);;
}
.cart-total{
    display:flex;
    flex-direction: row-reverse;
    font-size:1.2rem;
    margin:20px;
}
.cart-total .total-title{
    margin-right:10px;
    font-size:1.5rem;
}

.cancel{
    position:absolute;
    cursor:pointer;
    color:rgb(104, 86, 86);
    top:0;
    right:0;
    margin:20px;
    background:none;
    font-size:16px;
    font-weight: 700;
    border:1px solid rgb(121, 117, 117);
    border-radius:7px;
    padding:5px;
}

header .latest-album{
    display:block;
    border:1px solid #56CCF2;
    padding:15px 30px;
    font-size:23px;
    font-weight: 200;
    margin:10px auto;
    background: inherit;
    cursor: pointer;
    color:white;
}

header .play-btn{
    cursor: pointer;
    display:block;
    border:2px solid #56CCF2;
    border-radius:50%;
    padding:20px;
    font-size:30px;
    font-weight: 200;
    margin:20px auto;
    background: inherit;
    color:#56CCF2;
}

#tours .tour-item{
    display:flex;
    border-bottom:1px solid black;
    padding:10px;
}
#tours .tour-item .tour-date{
    width:12%;
}
#tours .tour-item .tour-place{
    width:25%;
    color:#777;
}
#tours .tour-item .tour-spec-place{
    width:53%;
    color:#777;
}
#tours .tour-item .buy-btn{
    width:20%;
    background: #56CCF2;
    color:white;
    border:none;
    padding:7px;
    border-radius:5px;
    font-weight:700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#about{
    max-width:900px;
    margin:0 auto;
    font-size: 22px;
}
#about h3{
    text-align: center;
    font-size:25px;
    margin:20px;
}
#about div{
    /* display:flex; */
}

#about img{
    float:left;
    margin:20px 50px;
    border-radius: 50%;
    width:200px;
    height:200px;
}

#about p{
    font-size:17px;
    margin:20px;
    color:#777;
}